<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Influencer Platform</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
   
</head>
<body>
    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="text-center">
            <h1>Welcome to the Influencer Engagement and Sponsorship Coordination Platform</h1>
            <a href="{{ url_for('login') }}" class="btn btn-primary mt-3">Login</a>
            <a href="{{ url_for('register') }}" class="btn btn-secondary mt-3">Register</a>
        </div>
    </div>
</body>
</html>
